<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="5">
  <test thread-count="5" name="Test" parallel="classes">
	<parameter name="username" value="demosalesmanager"></parameter>
	<parameter name="password" value="crmsfa"></parameter>
	<parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="week2.day2.testng.CreateLead"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
